<!-- https://www.fbrell.com/Sharing/2%20-%20FB.ui%20Dialogs?fbclid=IwZXh0bgNhZW0CMTEAAR1zFYa6Hrv5Ch1eu-Gtd5fJdnS5cY9lgvInR1RdwDBdxYUhis6oUc8vrUA_aem_RiRhApZN_gIDL4l6uAe93w -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '920612319894251',
                xfbml: true,
                version: 'v20.2',
                //   "frictionlessRequests": true,
                //   "init": true,
                level: "debug",
                //   "signedRequest": null,
                //   "status": true,
                //   "version": "v3.2",
                //   "viewMode": "website",
                //   "autoRun": true
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>


    <button id="shareBtn" class="btn btn-success clearfix">Share Dialog</div>
        <script>
            document.getElementById('shareBtn').onclick = function () {
                FB.ui({
                    method: 'share_open_graph',
                    action_type: 'og.shares',
                    display: 'popup',
                    action_properties: JSON.stringify({
                        object: {
                            'og:url': 'https://stackoverflow.com/questions/23781698/fb-ui-share-set-the-title-message-and-image',
                            'og:title': 'Title to show',
                            'og:description': 'The description',
                            'og:image': 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/800px-A_small_cup_of_coffee.JPG'
                        }
                    })
                }, function (response) {
                    // Action after response
                });
            }

        </script>

</body>

</html>